.container
  .row
    %section.col-lg-12
      %article#about-us
        %table
          %tr
            %td.title Про нас
            %td.description 
              %span.bold WedCity.pro(Місто весільних професіоналів) 
              = '- це своєрідна соціальна мережа яка об’єднує людей які працюють у галузі надання послуг для урочистих подій та людей яким необхідні ці послуги.'
        .clearfix
      .line-divider
      %article#contacts
        %table
          %tr
            %td.title Контакти
            %td.description
              %div.bold Віктор Олексин
              %div
                %span.bold Email:
                bartezic@gmail.com
              %div
                %span.bold Телефон:
                +38 093 8614243
              %div
                %span.bold Skype:
                bartezic
        .clearfix