- if params[:gallery] && gallery = @partner.galleries.where(slug: params[:gallery]).first
  = render 'cabinet/galleries/gallery', gallery: gallery
  = render 'cabinet/photos/photos', photos: gallery.photos, title: 'Фотографії галереї', upload: true, gallery: gallery
- else
  = render 'cabinet/galleries/galleries'
  = render 'cabinet/photos/photos', photos: @partner.photos, title: 'Останні завантажені фотографії', upload: false, gallery: nil