%dl.partner
  %dt Відео
  %dd.gallery
    - @partner.videos.each do |video|
      - if video.link
        %span.video= link_to image_tag(get_video_cover(video), { alt: video.name }), get_video_link(video), {rel: 'video'}