.gallery-open
  .top
    .title= gallery.name
    .actions
      %button.btn.btn-default.btn-xs.show-edit(type="button")
        %span.glyphicon.glyphicon-edit
      %button.btn.btn-default.btn-xs.hide-edit.hidden(type="button")
        %span.glyphicon.glyphicon-remove
      = link_to [:cabinet, gallery], method: :delete, data: { confirm: 'Ви дійсно бажаєте видалити дану галарею зі всіма її фотографіями?' } do
        %button.btn.btn-default.btn-xs(type="button")
          %span.glyphicon.glyphicon-trash
    .clearfix
  .description
    = gallery.description
  = render 'cabinet/galleries/form', gallery: gallery