- flash.each do |name, msg|
  - if msg.is_a?(String)
    .alert.alert-dismissable{ class: "alert-#{name.to_s == 'notice' ? 'success' : 'danger'}" }
      %button.close{ type: :button, data: { dismiss: :alert, hidden: true } } &#215;
      = msg