%p#notice= notice

%dl
  %dt Rating
  %dd= @video.rating

  %dt Video
  %dd
    - if @video.link
      %iframe{ src: get_video_link(@video), width: 640, height: 430, frameborder: 0, webkitallowfullscreen: true, mozallowfullscreen: true, allowfullscreen: true, allowscriptaccess: :always, allowFullScreen: true, title: @video.name }

%br

= link_to 'Edit', edit_cabinet_video_path(@video), class: 'btn btn-default'
= link_to 'Back', cabinet_videos_path, class: 'btn btn-default'
