.container
  .time_list
    %p
      %b Click on day for select.
    %p
      %b Second click for unselect.
    %p List of selected days:
    %ul
  .row
    .col-lg-12
      /#calendar.calendar_modern
      .rcalendar
     