.container
  %iframe{height: "350", src: "https://mapsengine.google.com/map/u/0/embed?mid=z8xBvgwOeTLI.k01-mTpDEoJs", width: "100%"}

%script{ src: 'http://api-maps.yandex.ru/2.1/?lang=uk_UA' }
:javascript
  ymaps.ready(function () {
    var map = new ymaps.Map("YMapsID", {
      center: [49.83, 24.02], 
      zoom: 12
    });

    if (map) {
      map.balloon.open([49.84, 24.02], {
        contentHeader: 'Тут наш рідний Львів',
        contentBody: 'І політех <span style="color:red; font-weight:bold">також </span>тут <b>є</b>',
      });
    }
  })

.container#YMapsID{ style: "width: 100%; height: 300px;" }

:css
  #IUAweather {min-width: 120px; width: 240px; cursor: pointer;}
  #IUAweather * {margin: 0; padding: 0;}
  #IUAweather .content {overflow: hidden; padding: 4px; font-family: Arial; font-size: 10px; color: #000000; background: #145E8D; border: 1px solid #00529c;}
  #IUAweather h1 {overflow: hidden; margin-top: -4px; font-size: 12px; font-weight: bold; height: 20px; line-height: 20px; color: #FFFFFF;}
  #IUAweather h1 span {float: left; white-space: nowrap;}
  #IUAweather h1 i {float: right; display: inline-block; width: 36px; height: 15px; background: url(http://i3.i.ua/v2/logo/logo_small_14_black.png) no-repeat 0 1px transparent; opacity: .3;}
  #IUAweather a, #IUAweather a:hover {border: none; text-decoration: underline; color: #FFFFFF;}
  #IUAweather dl {overflow: hidden; background: #5FBED0; color:#FFFFFF; padding: 4px; margin-bottom: 4px;}
  #IUAweather dl dt {font-weight: bold; font-size: 12px;}
  #IUAweather dl dd {float: left; white-space: nowrap; width: 50%; min-width: 105px;}
  #IUAweather dl dd span {display: block; line-height: 24px; font-size: 20px; font-family: Trebuchet MS;}
  #IUAweather dl dd span img {vertical-align: top; margin-right: 2px;}
.container
  .row
    .col-lg-9
      %iframe#out_iframe_g{allowtransparency: "true", frameborder: "0", height: "125px", hspace: "0", marginheight: "0", marginwidth: "0", scrolling: "no", src: "http://news.bigmir.net/get_informers_new/0/ru/3/1/cyan/g/no", vspace: "0", width: "100%"}
    .col-lg-3
      #IUAweather{onclick: "window.location.href='http://weather.i.ua/lviv/';"}
        #IUAweatherBody.content
          %h1#IUAweatherTitle
            %span
              %a#IUAweatherTitleLink{href: "http://weather.i.ua/lviv/"} Погода
            %i
          %dl#IUAweatherEmbed
          %a#IUAweatherLink{href: "http://weather.i.ua/lviv/"} Прогноз погоди на тиждень
:javascript
  iWeatherCity = 11301;
  iWeatherLang = 2;
  iWeatherEnc = 0;
%script{charset: "windows-1251", src: "http://i3.i.ua/js/i/weather_informer.js", type: "text/javascript"}
