.app {
  section.main-section{
    border-right: 2px dashed #ddd;
    margin: 20px 0;
    article {
      &> .line {
        margin: -20px 0 10px 0;
        height: 10px;
        background: #d9edf6;
      }
      &> header {
        margin: 0 0 0 20px;
        color: #2a8bb5;
        font-size: 15px;
        display: inline-block;
        background: white;
        padding: 5px;
      }
      &.about-us {
        .title {
          font-size: 23px;
          font-weight: bold;
          color: #2a8bb5;
          padding: 20px 20px 20px 0;
          white-space: nowrap;
        }
        .description {
          padding: 20px;
          font-size: 17px;
          background: #d9edf6;
          border-left: 5px solid #2a8bb5;
          span {
            color: #2a8bb5;
            font-weight: bold;
          }
        }
        .nav {
          float: right;
          margin: 5px 0;
          a {
            color: #2a8bb5;
            font-size: 15px;
            text-decoration: none;
            &:not(:last-child){
              &:after {
                content: '|';
                margin: 0 8px 0 12px;
                font-size: 12px;
                vertical-align: 2px;
              }
            }
            &:hover {
              color: #145E8D;
            }
          }
        }
      }
      &.couple-ad {
        margin: 10px 0;
        table {
          margin: 20px 0 10px;
          .left {
            width: 110px;
          }
          .right {
            .title {
              color: #145E8D;
              font-size: 23px;
            }
            .subtitle {
              color: #5fbed0;
              span {
                &:not(:last-child){
                  &:after {
                    content: '|';
                    color: gray;
                    margin: 0 8px 0 12px;
                    font-size: 12px;
                    vertical-align: 2px;
                  }
                }
              }
            }
            .description {
              padding: 15px 0;
            }
            .links {
              a {
                color: #2a8bb5;
                font-size: 15px;
                text-decoration: none;
                &:hover {
                  color: #145E8D;
                }
              }
            }
          }
        }
      }
      &.profi-ad {
        
      }
      &.just-ad {

      }
    }
  }

  .recent-users {
    background: #2a8bb5;
    color: white;
    padding: 15px 0;
    .container {
      height: 85px;
      overflow: hidden;
      &> a:not(.add) {
        float: left;
        position: relative;
        margin-left: 5px;
        z-index: 10;
        color: white;
        text-decoration: none;
        img {
          border-radius: 50px;
          width: 85px;
          height: 85px;
        }
        .content {
          display: none;
          position: absolute;
          top: 0px;
          font-size: 12px;
          text-align: center;
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
          width: 85px;
          height: 85px;
          vertical-align: middle;
          padding-top: 25px;
          color: #FFF;
          background: rgba(0, 0, 0, 0.4);
          border-radius: 50px;
        }
        &:hover {
          .content {
            display: block;
          }
        }
      }
    }
    .intro {
      float: left;
      padding: 20px 0;
      .title {
        font-size: 20px;
      }
      .subtitle {
        font-size: 14px;
      }
    }
    .add {
      font-size: 56px;
      float: left;
      border-radius: 50px;
      margin-left: 30px;
      border: 3px solid white;
      width: 85px;
      height: 85px;
      z-index: 10;
      padding-left: 23px;
      color: white;
      text-decoration: none;
    }
  }
}