/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 */

@import "bourbon";
@import "font-awesome";

@import "custom/bootstrap_and_overrides";
@import "custom/footer";
@import "custom/slider";
@import "custom/admin";
@import "custom/cabinet";
@import "custom/app";
@import "custom/calendar";
@import "custom/partners";
@import "custom/navs";
@import "custom/device";
@import "external/photobox";
@import "external/photobox.ie";
@import "bootstrap-datepicker";
@import "custom/locationpicker";
@import "external/jquery.mCustomScrollbar";
@import "external/revolution-slider";
@import "external/weather-icons.min";

@import "epona/sky-forms";

html.turbolinks-progress-bar::before {
  background-color: rgba(255, 0, 0, 0.5) !important;
  height: 5px !important;
}

html,
body {
  height: 100%;
}

body {
  overflow-y: scroll; 
  font-family:'Open Sans', Arial, sans-serif !important;

  font-size:14px;
  line-height:23px;
  margin:0; padding:0;
}


code {
  font-size: 80%;
}

.container {
  position:relative;
}

.push-30 {
  height: 30px;
}
#pbOverlay {
  #pbCloseBtn, #pbAutoplayBtn, *, *:before, *:after {
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;      
  }
} 