.location{
  cursor: pointer;
  span {
    font-size: 11px;
    color: #5FBED0;
  }
  .locationpicker {
    z-index: 100;
    position: relative;
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    border: 0;
    input#locationpicker {
      border: 0;
      height: 0;
      width: 0;
      margin: 0;
      padding: 0;
      display: block;
    }
    ul {
      height: 280px;
      overflow-y: scroll;
      border-radius: 5px;
      background-color: #fff;  
      position: absolute;  
      list-style: none;
      margin: 0;
      padding: 5px;
      -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
      border: 1px solid rgba(0, 0, 0, 0.2);
      &:before {
        content: '';
        top: -7px;
        left: 6px;
        display: inline-block;
        border-left: 7px solid rgba(0, 0, 0, 0);
        border-right: 7px solid rgba(0, 0, 0, 0);
        border-bottom: 7px solid #CCC;
        border-top: 0;
        border-bottom-color: rgba(0, 0, 0, 0.2);
        position: absolute;
      }
      &:after {
        content: '';
        top: -6px;
        left: 7px;
        display: inline-block;
        border-left: 6px solid rgba(0, 0, 0, 0);
        border-right: 6px solid rgba(0, 0, 0, 0);
        border-bottom: 6px solid #FFF;
        border-top: 0;
        position: absolute;
      }
      li {
        white-space: nowrap;
        cursor: pointer;
        border-radius: 3px;
        padding: 1px 3px;
        &:hover {
          background: #EEE;
        }
        &.selected {
          background: #D9EDF6;
        }
      }
    }
  }
}

/* =Custom Select Menu */

.custom-select-menu {
  display: block;
  outline: none;
  position: relative;
  z-index: 10;
  label {
    color: #888;
    display: inline-block;
    padding: 0px 15px 0px 0px;
    position: relative;
    /* Prevents text-selection on the label. */
    -moz-user-select: none;
    -ms-user-select: none;
    -webkit-touch-callout: none;
    -webkit-user-select: none;  
    user-select: none;
    margin: 0;
    font-weight: normal;
    color: #2A8BB5;
    &.selection-made {

    }
    &:after {
      border-top: 5px solid #2A8BB5;
      border-right: 5px solid transparent;
      border-left: 5px solid transparent;
      content: '';
      position: absolute;
      right: 1px;
      top: 8px;
    }
    &.opened {
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
  }
  ul {
    top: 25px;
    left: -3px;
    max-height: 280px;
    overflow-y: scroll;
    border-radius: 5px;
    background-color: #fff;  
    position: absolute;  
    list-style: none;
    margin: 0;
    padding: 5px;
    -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    border: 1px solid rgba(0, 0, 0, 0.2);
    &:before {
      content: '';
      top: -7px;
      left: 6px;
      display: inline-block;
      border-left: 7px solid rgba(0, 0, 0, 0);
      border-right: 7px solid rgba(0, 0, 0, 0);
      border-bottom: 7px solid #CCC;
      border-top: 0;
      border-bottom-color: rgba(0, 0, 0, 0.2);
      position: absolute;
    }
    &:after {
      content: '';
      top: -6px;
      left: 7px;
      display: inline-block;
      border-left: 6px solid rgba(0, 0, 0, 0);
      border-right: 6px solid rgba(0, 0, 0, 0);
      border-bottom: 6px solid #FFF;
      border-top: 0;
      position: absolute;
    }
    li {
      white-space: nowrap;
      cursor: pointer;
      border-radius: 3px;
      padding: 1px 3px;
      &:hover {
        background: #EEE;
      }
      &.selected {
        background: #D9EDF6;
      }
    }
  }
}