nav {
  &.top {
    background: #5fbed0;
    background: -moz-linear-gradient(left,  #5fbed0 0%, #5fbed0 50%, #2a8bb5 50%, #2a8bb5 100%);
    background: -webkit-gradient(linear, left top, right top, color-stop(0%,#5fbed0), color-stop(50%,#5fbed0), color-stop(50%,#2a8bb5), color-stop(100%,#2a8bb5));
    background: -webkit-linear-gradient(left,  #5fbed0 0%,#5fbed0 50%,#2a8bb5 50%,#2a8bb5 100%);
    background: -o-linear-gradient(left,  #5fbed0 0%,#5fbed0 50%,#2a8bb5 50%,#2a8bb5 100%);
    background: -ms-linear-gradient(left,  #5fbed0 0%,#5fbed0 50%,#2a8bb5 50%,#2a8bb5 100%);
    background: linear-gradient(to right,  #5fbed0 0%,#5fbed0 50%,#2a8bb5 50%,#2a8bb5 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5fbed0', endColorstr='#2a8bb5',GradientType=1 );
    border-bottom: 1px solid #8EE8FF;
    &> .container {
      position: relative;
      .left {
        color: white;
        height: 82px;
        background: #5fbed0;
        .logo {
          border-radius: 50px;
          border: 2px solid white;
          margin-top: 10px;
          background: #2a8bb5 url(logo.png) no-repeat center center;
          background-size: 100px 100px;
          width: 100px;
          height: 100px;
          position: absolute;
          z-index: 10;
        }
        .top-nav {
          margin: 31px 10px 31px 200px;
          a {
            text-decoration: none;
            margin-left: 30px; 
            font-weight: bold;
            color: white;
            &:hover {
              color: #2a8bb5;
            }
          }
        }
        .locale {
          margin: 31px 10px;
          a {
            text-decoration: none;
            color: white;
            &:hover {
              color: #2a8bb5;
            }
          }
        }
      }
      .right {
        background: #2a8bb5;
        .auth {
          text-decoration: none;
          color: white;
          background-color: #2a8bb5;
          border: 1px solid #2a8bb5;
          border-radius: 4px;
          padding: 10px;
          margin: 20px 0 20px 5px;
          vertical-align: middle;
          cursor: pointer;
          &:hover {
            background-color: #5fbed0;
            border: 1px solid white;
          } 
          a.dropdown-toggle {
            color: white;
            text-decoration: none;
            .caret {
              border-bottom-color: #FFFFFF;
              border-top-color: #FFFFFF;
            }
          }
        }
      }
    }
  }
}