.banner { position: relative; overflow: auto; }
.banner li { list-style: none; }
.banner ul li { float: left; }

.carousel {
  max-width: 1400px;
  margin: 0 auto;
  .search-form {
    position: absolute;
    top: 20px;
    right: 9%;
    z-index: 10;
    &> div:not(.clearfix) {
      float: right;
      margin-right: 5px;
      padding: 0 3px;
      background-color: #d9edf6;
      border-radius: 3px;
      color: #2a8bb5; 
      cursor: pointer;
      .caret {
        margin: 0;
      }
    }
    &> button {
      float: right;
      padding: 0 0 0 3px;
      background: transparent;
      background-color: transparent;
      border: 0;
      margin: 0; 
      font-size: 14px;
      font-weight: bold;
      color: #2a8bb5;
    }
  }
  .carousel-caption {
    left: 9%;
    right: 9%;
    .pull-left {
      text-shadow: 0 0 2px rgba(0, 0, 0, 0.4);
      .title, .stitle {
        float: left;
        border-left: 5px solid #2a8bb5;
        background-color: rgba(0,0,0,0.4);
        font-size: 30px;
        max-width: 500px;
        font-weight: bold;
        text-align: left;
        padding: 0 10px;
      }
    } 
    .pull-right {
      .autor {
        background-color: #5fbed0;
        .pull-left {
          position: relative;
          .avatar {
            border-radius: 50px;
            border: 3px solid white;
            margin: -20px 0 0 -50px;
            background: #2a8bb5 url(logo.png) no-repeat center center;
            background-size: 100px 100px;
            width: 100px;
            height: 100px;
            position: absolute;
            z-index: 10;
          }
        }
        .pull-right {
          padding: 10px 10px 10px 60px;
          text-align: right;
          text-shadow: 0 0 1px rgba(0, 0, 0, 0.4);
          .title {
            font-size: 18px;
          }
          .subtitle {
            font-size: 14px;
          }
        }            
      }
    }            
  }
  .carousel-control {
    width: 13%;
  }
  .carousel-indicators {
    right: 10%;
    width: auto;
    margin-left: 0;
    left: inherit;
    li {
      width: 13px;
      height: 13px;
      border-color: #988;
      background-color: #999;
      &.active {
        width: 15px;
        height: 15px;
        border-color: #2a8bb5;
        background-color: #2a8bb5;
      }
    }
  }
}