%p
  Вітаємо #{@email}!
%p
  Будь ласка підтвердіть ваш email перейшовши за
  %span= link_to 'цим', confirmation_url(@resource, confirmation_token: @token)
  посиланням
%p Дякуємо, що ви з нами. Попереду багато цікавого!