%p
  Привіт #{@resource.email}!
%p
  Хтось хоче змінити ваш пароль. Якщо хтось це були ви, то можете зробити зміну пройшовши за
  %span= link_to 'цим', edit_password_url(@resource, reset_password_token: @token)
  посилянням
%p Якщо це були не ви, то проігноруйте дане повідомлення.
%p Ваш пароль не буде змінено поки ви не перейдете за посиланням що в горі і не задасте новий пароль.

%p Дякуємо, що ви з нами. Попереду багато цікавого!
