%p
  Привіт #{@resource.email}!
%p Ваш акаунт було заблоковано, так як хтось перевищив ліміт невірних комбінацій пароля при вході.
%p
  Клікніть
  %span= link_to 'тут', unlock_url(@resource, unlock_token: @token)
  щоб розблокувати акаунт
